@import "./../../styles/variable.module.scss";

.cart {
  grid-column: 1 / 2;

  .cartHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $color-grey-light;
    padding-bottom: 2rem;

    .selectAll {
      width: 90%;
    }
  }
}

.icon {
  height: 2rem;
  width: 2rem;
  color: darkred;
  cursor: pointer;
}
