@import "./../../../styles/variable.module.scss";

.main {
  background-color: $color-primary-light;
  padding: 5rem 10rem;
  display: flex;
  column-gap: 4rem;
  min-height: 70vh;
}

.notiList {
  font-size: $default-font-size;
  color: $color-grey-dark;
  border-radius: 3rem;
}

.container {
  width: 100%;
  position: relative;
}

.btnContainers {
  position: absolute;
  top: 0;
  right: 0;

  .btn {
    display: inline-block;
  }
}

.infoText {
  font-size: $default-font-size;
  color: $color-grey-dark;
}

@media only screen and (max-width: 56.25em) {
  .main {
    padding: 3rem 5rem;
  }
}

@media only screen and (max-width: 31.75em) {
  .main {
    padding: 1rem 3rem;
  }
}