@import "../../../styles/variable.module.scss";

.navItem {
  margin-right: 4rem;

  a {
    color: $color-grey;
    font-size: 1.6rem;
    text-decoration: none;
  }

  &::after {
    content: "";
    display: inherit;
    width: 0;
    height: 1px;
    margin-top: 3px;
    background-color: $color-primary;
    transition: width 0.2s ease-out;
  }

  &:hover::after {
    width: 100%;
  }

  &:hover {
    a {
      color: $color-primary;
    }
  }
}

.userNavItem,
.mobileNavItem {
  background-color: $color-primary;
  color: $color-primary-light;
  transition: all 0.3s;
  padding: 1rem 3rem 1rem 2rem;
  cursor: pointer;

  &:hover {
    background-color: $color-primary-light;
    color: $color-primary;
  }
}

@media only screen and (max-width: 56.25em) {
  .navItem {
    margin-right: 2.5rem;
  }
}