@import "./../../../styles/variable.module.scss";

.main {
  padding: 4rem 10rem;
  background-color: $color-primary-light;
}

.addressList {
  margin-top: 1rem;
  list-style: none;
  font-size: $default-font-size;
  color: $color-grey-dark;
}

.text {
  font-size: $default-font-size;
}

.addNewAddress {
  margin-top: 2rem;
}

@media only screen and (max-width: 56.25em) {
  .main {
    padding: 4rem;
  }
}

@media only screen and (max-width: 37.25em) {
  .main {
    padding: 2rem;
  }
}
