@import "./../../styles/variable.module.scss";

.container {
  margin: 5rem 10rem;
  display: grid;
  grid-template-columns: 2fr 0.7fr;
  font-size: $default-font-size;
  gap: 6rem;
}

.infoBox {
  color: $color-primary;
  grid-column: 1 / -1;
  width: 70%;
  height: 45vh;
  background-color: $color-primary-light;
  border: 1px solid $color-grey-light;
  border-radius: 3px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    margin-top: 1.5rem;
  }

  .btn {
    margin: 4rem auto 0;
  }
}

.deliveryAddressBox {
  margin-top: 3rem;

  span {
    font-weight: 600;
    display: inline-block;
    width: 15rem;
  }
}

.deliveryAddressBox,
.deliveryMethodBox,
.paymentMethodBox {
  background-color: $color-primary-light;
  border: 3px;
  padding: 2rem;
  margin-bottom: 1rem;
  color: $color-grey;

  h5 {
    font-size: 1.6rem;
    color: $color-primary;
    margin-bottom: 1rem;
  }
}

.deliveryMethod {
  display: flex;
  column-gap: 1rem;
  align-items: center;

  img {
    height: 2rem;
  }
}

.radioGroup {
  display: flex;
  column-gap: 4rem;
  margin: 1.5rem 0;
}

.bankList {
  p {
    margin-bottom: 0.5rem;
  }

  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.active {
  max-height: 33rem;
  opacity: 1;
  visibility: visible;
}

@media only screen and (max-width: 75em) {
  .container {
    margin: 5rem;
  }
}

@media only screen and (max-width: 68.75em) {
  .container {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 31.25em) {
  .container {
    margin: 3rem;
  }

  .radioGroup {
    flex-direction: column;
  }
}