@import "../../styles/variable.module.scss";

.logo {
  margin-bottom: 0.5rem;
  margin-right: 6rem;

  span {
    color: $color-primary-dark;
    font-size: 2.5rem;
  }

  img {
    height: 3rem;
    margin: 0 0.5rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .logo {
    margin-right: 3rem;
  }
}